# Copyright Statement:                                                                                                     
#                                                                                                                          
# (C) 2025  Airoha Technology Corp. All rights reserved.                                                                   
#                                                                                                                          
# This software/firmware and related documentation ("Airoha Software") are                                                 
# protected under relevant copyright laws. The information contained herein                                                
# is confidential and proprietary to Airoha Technology Corp. ("Airoha") and/or its licensors.                              
# Without the prior written permission of Airoha and/or its licensors,                                                     
# any reproduction, modification, use or disclosure of Airoha Software,                                                    
# and information contained herein, in whole or in part, shall be strictly prohibited.                                     
# You may only use, reproduce, modify, or distribute (as applicable) Airoha Software                                       
# if you have agreed to and been bound by the applicable license agreement with                                            
# Airoha ("License Agreement") and been granted explicit permission to do so within                                        
# the License Agreement ("Permitted User").  If you are not a Permitted User,                                              
# please cease any access or use of Airoha Software immediately.                                                           
# BY OPENING THIS FILE, RECEIVER HEREBY UNEQUIVOCALLY ACKNOWLEDGES AND AGREES                                              
# THAT THE SOFTWARE/FIRMWARE AND ITS DOCUMENTATIONS ("AIROHA SOFTWARE")                                                    
# RECEIVED FROM AIROHA AND/OR ITS REPRESENTATIVES ARE PROVIDED                                                             
# TO RECEIVER ON AN "AS-IS" BASIS ONLY. AIROHA EXPRESSLY DISCLAIMS ANY AND ALL                                             
# WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF                                   
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT.                                                    
# NEITHER DOES AIROHA PROVIDE ANY WARRANTY WHATSOEVER WITH RESPECT TO THE                                                  
# SOFTWARE OF ANY THIRD PARTY WHICH MAY BE USED BY, INCORPORATED IN, OR                                                    
# SUPPLIED WITH AIROHA SOFTWARE, AND RECEIVER AGREES TO LOOK ONLY TO SUCH                                                  
# THIRD PARTY FOR ANY WARRANTY CLAIM RELATING THERETO. RECEIVER EXPRESSLY ACKNOWLEDGES                                     
# THAT IT IS RECEIVER'S SOLE RESPONSIBILITY TO OBTAIN FROM ANY THIRD PARTY ALL PROPER LICENSES                             
# CONTAINED IN AIROHA SOFTWARE. AIROHA SHALL ALSO NOT BE RESPONSIBLE FOR ANY AIROHA                                        
# SOFTWARE RELEASES MADE TO RECEIVER'S SPECIFICATION OR TO CONFORM TO A PARTICULAR                                         
# STANDARD OR OPEN FORUM. RECEIVER'S SOLE AND EXCLUSIVE REMEDY AND AIROHA'S ENTIRE AND                                     
# CUMULATIVE LIABILITY WITH RESPECT TO AIROHA SOFTWARE RELEASED HEREUNDER WILL BE,                                         
# AT AIROHA'S OPTION, TO REVISE OR REPLACE AIROHA SOFTWARE AT ISSUE,                                                       
# OR REFUND ANY SOFTWARE LICENSE FEES OR SERVICE CHARGE PAID BY RECEIVER TO                                                
# AIROHA FOR SUCH AIROHA SOFTWARE AT ISSUE.                                                                                
#                                                                                                                          

# SPDX-License-Identifier: Apache-2.0

if BOARD_AIROHA_AB1620_FPGA

config BOARD
    string
    default "ab1620_fpga"

config HEAP_MEM_POOL_ADD_SIZE_BOARD_LEVEL
    int
    default 0

config SYS_CLOCK_HW_CYCLES_PER_SEC
    default 1000000

config SYS_CLOCK_TICKS_PER_SEC
    default 1000

config TIMESLICE_SIZE
    default 1 if SYS_CLOCK_TICKS_PER_SEC = 1000
    default 2 if SYS_CLOCK_TICKS_PER_SEC = 500
    default 4 if SYS_CLOCK_TICKS_PER_SEC = 250
    default 8 if SYS_CLOCK_TICKS_PER_SEC = 125
    default 10 if SYS_CLOCK_TICKS_PER_SEC = 100
    default 20 if SYS_CLOCK_TICKS_PER_SEC = 50
    default 40 if SYS_CLOCK_TICKS_PER_SEC = 25
    default 50 if SYS_CLOCK_TICKS_PER_SEC = 20
    default 100 if SYS_CLOCK_TICKS_PER_SEC = 10
    default 200 if SYS_CLOCK_TICKS_PER_SEC = 5
    default 250 if SYS_CLOCK_TICKS_PER_SEC = 4
    default 500 if SYS_CLOCK_TICKS_PER_SEC = 2
    default 1000 if SYS_CLOCK_TICKS_PER_SEC = 1

config MCUBOOT_EXTRA_IMGTOOL_ARGS
    default "--public-key-format full --sign-by-aes True" if AIR_SECURITY_AES_ENABLE=y
    default "--public-key-format full" if AIR_SECURITY_AES_ENABLE=n

config BOOT_SIGNATURE_TYPE_AES
    bool "BOOT_SIGNATURE_TYPE_AES"
    default y if AIR_SECURITY_AES_ENABLE=y
    default n if AIR_SECURITY_AES_ENABLE=n

endif # BOARD_AIROHA_AB1620_FPGA
