# Copyright Statement:
#
# (C) 2025  Airoha Technology Corp. All rights reserved.
#
# This software/firmware and related documentation ("Airoha Software") are
# protected under relevant copyright laws. The information contained herein
# is confidential and proprietary to Airoha Technology Corp. ("Airoha") and/or its licensors.
# Without the prior written permission of Airoha and/or its licensors,
# any reproduction, modification, use or disclosure of Airoha Software,
# and information contained herein, in whole or in part, shall be strictly prohibited.
# You may only use, reproduce, modify, or distribute (as applicable) Airoha Software
# if you have agreed to and been bound by the applicable license agreement with
# Airoha ("License Agreement") and been granted explicit permission to do so within
# the License Agreement ("Permitted User").  If you are not a Permitted User,
# please cease any access or use of Airoha Software immediately.
# BY OPENING THIS FILE, RECEIVER HEREBY UNEQUIVOCALLY ACKNOWLEDGES AND AGREES
# THAT AIROHA SOFTWARE RECEIVED FROM AIROHA AND/OR ITS REPRESENTATIVES
# ARE PROVIDED TO RECEIVER ON AN "AS-IS" BASIS ONLY. AIROHA EXPRESSLY DISCLAIMS ANY AND ALL
# WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT.
# NEITHER DOES AIROHA PROVIDE ANY WARRANTY WHATSOEVER WITH RESPECT TO THE
# SOFTWARE OF ANY THIRD PARTY WHICH MAY BE USED BY, INCORPORATED IN, OR
# SUPPLIED WITH AIROHA SOFTWARE, AND RECEIVER AGREES TO LOOK ONLY TO SUCH
# THIRD PARTY FOR ANY WARRANTY CLAIM RELATING THERETO. RECEIVER EXPRESSLY ACKNOWLEDGES
# THAT IT IS RECEIVER'S SOLE RESPONSIBILITY TO OBTAIN FROM ANY THIRD PARTY ALL PROPER LICENSES
# CONTAINED IN AIROHA SOFTWARE. AIROHA SHALL ALSO NOT BE RESPONSIBLE FOR ANY AIROHA
# SOFTWARE RELEASES MADE TO RECEIVER'S SPECIFICATION OR TO CONFORM TO A PARTICULAR
# STANDARD OR OPEN FORUM. RECEIVER'S SOLE AND EXCLUSIVE REMEDY AND AIROHA'S ENTIRE AND
# CUMULATIVE LIABILITY WITH RESPECT TO AIROHA SOFTWARE RELEASED HEREUNDER WILL BE,
# AT AIROHA'S OPTION, TO REVISE OR REPLACE AIROHA SOFTWARE AT ISSUE,
# OR REFUND ANY SOFTWARE LICENSE FEES OR SERVICE CHARGE PAID BY RECEIVER TO
# AIROHA FOR SUCH AIROHA SOFTWARE AT ISSUE.

config AIR_SLEEP_MANAGER
    bool "Airoha Sleep Manager"
    default y if !MCUBOOT

config AIR_SPM_STANDBY_MODE_ENABLE
    bool "CONFIG_AIR_SPM_STANDBY_MODE_ENABLE"
    default n

config AIR_PD_DOMAIN_CONTROL_ENABLE
    default y if AIR_SLEEP_MANAGER

config PM
    default y if AIR_SLEEP_MANAGER

config IDLE_STACK_SIZE
    default 1024 if PM

if PM
choice PM_POLICY
    bool "Idle State Power Management Policy"
    default PM_POLICY_CUSTOM if AIR_SLEEP_MANAGER

config PM_POLICY_CUSTOM
    bool "Airoha PM Policy"
    help
      This options allows applications to override the default policy with
      a custom implementation.

config PM_POLICY_DEFAULT
    bool "Default PM policy"
    help
      This option selects the default PM policy. Default policy is based
      on CPU residency times and other constraints imposed by the drivers or
      application.

endchoice
endif # PM

config SPM_LPHQA_DEBUG
    bool "Airoha LPHQA & SPM DEBUG"

    depends on AIR_SLEEP_MANAGER

config AIR_COREMARK
    bool "Airoha LPHQA & SPM DEBUG"

    depends on AIR_SLEEP_MANAGER
    depends on SPM_LPHQA_DEBUG


if AIR_SLEEP_MANAGER


endif # AIR_SLEEP_MANAGER