# Copyright Statement:
#
# (C) 2025  Airoha Technology Corp. All rights reserved.
#
# This software/firmware and related documentation ("Airoha Software") are
# protected under relevant copyright laws. The information contained herein
# is confidential and proprietary to Airoha Technology Corp. ("Airoha") and/or its licensors.
# Without the prior written permission of Airoha and/or its licensors,
# any reproduction, modification, use or disclosure of Airoha Software,
# and information contained herein, in whole or in part, shall be strictly prohibited.
# You may only use, reproduce, modify, or distribute (as applicable) Airoha Software
# if you have agreed to and been bound by the applicable license agreement with
# Airoha ("License Agreement") and been granted explicit permission to do so within
# the License Agreement ("Permitted User").  If you are not a Permitted User,
# please cease any access or use of Airoha Software immediately.
# BY OPENING THIS FILE, RECEIVER HEREBY UNEQUIVOCALLY ACKNOWLEDGES AND AGREES
# THAT THE SOFTWARE/FIRMWARE AND ITS DOCUMENTATIONS ("AIROHA SOFTWARE")
# RECEIVED FROM AIROHA AND/OR ITS REPRESENTATIVES ARE PROVIDED
# TO RECEIVER ON AN "AS-IS" BASIS ONLY. AIROHA EXPRESSLY DISCLAIMS ANY AND ALL
# WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT.
# NEITHER DOES AIROHA PROVIDE ANY WARRANTY WHATSOEVER WITH RESPECT TO THE
# SOFTWARE OF ANY THIRD PARTY WHICH MAY BE USED BY, INCORPORATED IN, OR
# SUPPLIED WITH AIROHA SOFTWARE, AND RECEIVER AGREES TO LOOK ONLY TO SUCH
# THIRD PARTY FOR ANY WARRANTY CLAIM RELATING THERETO. RECEIVER EXPRESSLY ACKNOWLEDGES
# THAT IT IS RECEIVER'S SOLE RESPONSIBILITY TO OBTAIN FROM ANY THIRD PARTY ALL PROPER LICENSES
# CONTAINED IN AIROHA SOFTWARE. AIROHA SHALL ALSO NOT BE RESPONSIBLE FOR ANY AIROHA
# SOFTWARE RELEASES MADE TO RECEIVER'S SPECIFICATION OR TO CONFORM TO A PARTICULAR
# STANDARD OR OPEN FORUM. RECEIVER'S SOLE AND EXCLUSIVE REMEDY AND AIROHA'S ENTIRE AND
# CUMULATIVE LIABILITY WITH RESPECT TO AIROHA SOFTWARE RELEASED HEREUNDER WILL BE,
# AT AIROHA'S OPTION, TO REVISE OR REPLACE AIROHA SOFTWARE AT ISSUE,
# OR REFUND ANY SOFTWARE LICENSE FEES OR SERVICE CHARGE PAID BY RECEIVER TO
# AIROHA FOR SUCH AIROHA SOFTWARE AT ISSUE.


DT_AIR_USBD := $(dt_nodelabel_path,usbd)
DT_AIR_USBD_HS_SPEED := $(dt_node_str_prop_equals,$(DT_AIR_USBD),maximum-speed,high-speed)

config USB_DC_AIROHA
    bool "USB device controller driver for Airoha devices"
    select USB_DC_HAS_HS_SUPPORT if "$(DT_AIR_USBD_HS_SPEED)"
    default y
    depends on AIR_USB
    help
      Enable Airoha family USB device controller shim driver.

if USB_DC_AIROHA

# Put Airoha USB Device Controller Config Here

config USB_AIROHA_ATTACHED_EVENT_DELAY
    int "USBD attached event delay"
    range 0 1000
    default 0
    depends on USB_DC_AIROHA
    help
      Configurable attached event delay in milliseconds. Delay can be used
      to give USB Charging Controller time for initialization.

config USB_AIROHA_REMOTE_WAKEUP_DRV_TIME_US
    int "USBD remote wakeup driver time (us)"
    range 1000 15000
    default 1500
    depends on USB_DC_AIROHA
    help
      Config the USBD remote wakeup driver time in microseconds.
      USB2.0 Spec. requires 1~15ms (1000~15000us) for remote wakeup.

endif # USB_DC_AIROHA
