# Copyright Statement:
#
# (C) 2025  Airoha Technology Corp. All rights reserved.
#
# This software/firmware and related documentation ("Airoha Software") are
# protected under relevant copyright laws. The information contained herein
# is confidential and proprietary to Airoha Technology Corp. ("Airoha") and/or its licensors.
# Without the prior written permission of Airoha and/or its licensors,
# any reproduction, modification, use or disclosure of Airoha Software,
# and information contained herein, in whole or in part, shall be strictly prohibited.
# You may only use, reproduce, modify, or distribute (as applicable) Airoha Software
# if you have agreed to and been bound by the applicable license agreement with
# Airoha ("License Agreement") and been granted explicit permission to do so within
# the License Agreement ("Permitted User").  If you are not a Permitted User,
# please cease any access or use of Airoha Software immediately.
# BY OPENING THIS FILE, RECEIVER HEREBY UNEQUIVOCALLY ACKNOWLEDGES AND AGREES
# THAT AIROHA SOFTWARE RECEIVED FROM AIROHA AND/OR ITS REPRESENTATIVES
# ARE PROVIDED TO RECEIVER ON AN "AS-IS" BASIS ONLY. AIROHA EXPRESSLY DISCLAIMS ANY AND ALL
# WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT.
# NEITHER DOES AIROHA PROVIDE ANY WARRANTY WHATSOEVER WITH RESPECT TO THE
# SOFTWARE OF ANY THIRD PARTY WHICH MAY BE USED BY, INCORPORATED IN, OR
# SUPPLIED WITH AIROHA SOFTWARE, AND RECEIVER AGREES TO LOOK ONLY TO SUCH
# THIRD PARTY FOR ANY WARRANTY CLAIM RELATING THERETO. RECEIVER EXPRESSLY ACKNOWLEDGES
# THAT IT IS RECEIVER'S SOLE RESPONSIBILITY TO OBTAIN FROM ANY THIRD PARTY ALL PROPER LICENSES
# CONTAINED IN AIROHA SOFTWARE. AIROHA SHALL ALSO NOT BE RESPONSIBLE FOR ANY AIROHA
# SOFTWARE RELEASES MADE TO RECEIVER'S SPECIFICATION OR TO CONFORM TO A PARTICULAR
# STANDARD OR OPEN FORUM. RECEIVER'S SOLE AND EXCLUSIVE REMEDY AND AIROHA'S ENTIRE AND
# CUMULATIVE LIABILITY WITH RESPECT TO AIROHA SOFTWARE RELEASED HEREUNDER WILL BE,
# AT AIROHA'S OPTION, TO REVISE OR REPLACE AIROHA SOFTWARE AT ISSUE,
# OR REFUND ANY SOFTWARE LICENSE FEES OR SERVICE CHARGE PAID BY RECEIVER TO
# AIROHA FOR SUCH AIROHA SOFTWARE AT ISSUE.

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu


config AIR_HID_DEBUG_PIN
    bool "Airoha HID debug"
    default n
    help
      Enable airoha HID debug pin

config AIR_USB_PLUG_AND_PLAY
    bool "Airoha USB plug and play"
    default n
    help
      Enable USB plug and play feature

config AIR_HID_QDEC_DIR_REVERSE
    bool "Airoha HID mouse qdec direction reverse"
    default n
    help
      Enable airoha HID mouse qdec direction reverse

config AIR_M21_SAMPLE
    bool "Airoha m21 Sample"
    default n
    help
      Enable m21 sample pin definition

config AIR_M20_SAMPLE
    bool "Airoha m20 Sample"
    default n
    help
      Enable m20 sample pin definition

config AIR_TRIPLE_MODE_SLIDE_SWITCH
    bool "Airoha triple mode slide switch"
    default n
    help
      Enable slide switch feature

config AIR_DUAL_MODE_SLIDE_SWITCH
    bool "Airoha dual mode slide switch (USB + 2.4G)"
    default n
    help
      Enable dual mode slide switch (USB + 2.4G only, no BT)

config AIR_DISABLE_MOUSE_KEY
    bool "Disable Mouse key for LA debug signal"
    default n
    help
      Disable Mouse key for LA debug signal

config AIR_APP_PIN_USAGE_LIST
    bool "Pin configuration according to pin usage list on nvkey"
    default n
    help
      Pin configuration according to pin usage list on nvkey setting

config AIR_NVIDIA_REFLEX_ENABLE
    bool "Airoha NVIDIA reflex enable"
    default n
    help
      Enable to use NVIDIA reflex report


config AIR_COMP_WHEEL
    bool "Airoha Comparator wheel feature"
    default n
    help
      Enable airoha comparator wheel


config AIR_SUPPORT_IRPT_LR_KEY
    bool "L R key is IR-PT key. Set debounce to zero"
    default n
    help
      L R key is IR-PT key. Set debounce to zero

config MCUBOOT_GENERATE_CONFIRMED_IMAGE
    bool
    default y

config AIR_XY_DPI_OUT_OF_SYNC
    bool "SENSOR X, Y DPI out of sync"
    default n
    help
    SENSOR X, Y DPI out of sync

config AIR_SW_KEY_DEBOUNCE
    bool "sw key debounce"
    default n
    help
    sw key debounce

config AIR_SUPPORT_IR_COMP
    bool "ir comparator wheel"
    default n
    help
    ir comparator wheel

config AIR_PRINT_HID_REPORT_LOG
    bool "print RISCV reort log"
    default n
    help
    print hid report log generated by risc-v

config AIR_USB_EARLY_WAKEUP_CM33
    bool "RISCV via ccni wakeup CM33"
    default n
    help
    print Waked up CM33 by risc-v

config AIR_PRODUCT_TYPE_MOUSE
    bool "Product type is mouse"
    default n
    help
    Product type is mouse

config AIR_CHARGE_DONT_ENTER_SLEEP
    bool "If charge, dont enter sleep"
    default y
    help
    If charge, dont enter sleep

config AIR_TEST_GESTURE
    bool "Test gesture"
    default y
    help
    Test gesture

config AIR_ACL_PACKET_VIA_HID_REPORT
    bool "ACL packet response via HID Report"
     default n
     help
    ACL packet response via HID Report

config AIR_KEY_REMAP_BACKEND_CM33
    bool "Key remap backend CPU select"
    default n
    help
    Key remap backend CPU select

config AIR_KEY_REMAP_FRONTEND_CM33
    bool "Key remap frontend CPU select"
    default n
    help
    Key remap frontend CPU select

config AIR_WAKE_UP_RECONNECT_AT_HIGHEST_CLOCK
    bool "reconnect at highest clock when wake up"
    default n
    help
    reconnect at highest clock when wake up

config AIR_USB_NO_REPORT_ID
    bool "Send no report id usb report"
    default n
    help
    Send no report id usb report

config AIR_SLIDE_SWITCH_BT_MODE_PIN
    int "pin of slide switch bt mode"
    default 0
    help
      pin of slide switch bt mode

config AIR_SLIDE_SWITCH_GAMING_MODE_PIN
    int "pin of slide switch gaming mode"
    default 0
    help
      pin of slide switch gaming mode

config AIR_SLIDE_SWITCH_BT_MODE_PIN_HIGH_ACTIVE
    bool "high active trigger slide switch bt mode"
    default n
    help
      high active trigger slide switch bt mode

config AIR_SLIDE_SWITCH_GAMING_PIN_HIGH_ACTIVE
    bool "high active trigger slide switch gaming mode"
    default n
    help
      high active trigger slide switch gaming mode

config AIR_SLIDE_SWITCH_DUAL_2_4G_MODE_PIN
    int "pin of dual mode slide switch 2.4G mode"
    default 35
    depends on AIR_DUAL_MODE_SLIDE_SWITCH
    help
      pin of dual mode slide switch for 2.4G mode (GPIO35)

config AIR_SLIDE_SWITCH_DUAL_2_4G_PIN_HIGH_ACTIVE
    bool "high active trigger dual mode slide switch 2.4G mode"
    default n
    depends on AIR_DUAL_MODE_SLIDE_SWITCH
    help
      high active trigger dual mode slide switch for 2.4G mode

config AIR_APP_STANDBY_WITH_ADAPTOR_RGB
    bool "Support standby state with RGB function"
    default n
    help
      Play RGB in standby state if adaptor cable is connected


config AIR_APP_STANDBY_WAKEUP_BY_IRPT_KEY
    bool "Support IRPT key wake up"
    default n
    help
      Support IRPT key wake up


config AIR_APP_STANDBY_WAKEUP_BY_WHEEL
    bool "Support Wheel wake up"
    default n
    help
      Support Wheel wake up

menu "Battery ADC Configuration"

config AIR_BAT_ADC_CTRL_PIN
    int "Battery ADC enable pin (GPIO for voltage divider power control)"
    default 44
    help
      GPIO pin that controls power to the battery voltage divider.
      Set HIGH before ADC sampling, LOW after sampling to save power.
      Example: GPIO44 high enables the divider, GPIO25 reads the voltage.

config AIR_BAT_ADC_PIN
    int "Battery ADC input pin"
    default 25
    help
      GPIO pin connected to the battery voltage divider output for ADC sampling.

config AIR_BAT_ADC_SETTLE_TIME
    int "Battery ADC settle time (ms)"
    default 160
    help
      Delay in milliseconds after enabling the voltage divider power
      before reading the ADC. Allows the divider output to stabilize.
      Set to 0 to use the NVKEY value.

config AIR_BAT_ADC_R6215
    int "Battery voltage divider top resistor R6215 (ohms)"
    default 36000
    help
      Top resistor value of the battery voltage divider (connected to VBAT).
      Used to calculate actual battery voltage from ADC reading.
      Formula: Vbat = Vadc * (R6215 + R6217) / R6217

config AIR_BAT_ADC_R6217
    int "Battery voltage divider bottom resistor R6217 (ohms)"
    default 10000
    help
      Bottom resistor value of the battery voltage divider (connected to GND).
      Used to calculate actual battery voltage from ADC reading.
      Formula: Vbat = Vadc * (R6215 + R6217) / R6217

endmenu