###############################################################################################
#  General Setting
###############################################################################################
general:
    platform: ab1623m_evk
    product_category: BTData
    config_version: v2.0

###############################################################################################
#  Main Region Setting
###############################################################################################
main_region:
    address_type: physical
    rom_list:
        - rom:
            file: partition_table.bin
            name: PartitionTable
            begin_address: 0x08000000
            end_address: 0x08001000
        - rom:
            file: secure_hdr0.bin
            name: SecureHdr0
            begin_address: 0x08001000
            end_address: 0x08002000
        - rom:
            file: bootloader.bin
            name: BootLoader
            begin_address: 0x08003000
            end_address: 0x0801B000
        - rom:
            file: image-0.bin
            name: MCU_FW
            begin_address: 0x0801C000
            end_address: 0x08109000
        - rom:
            file: storage.bin
            name: NV_Data
            begin_address: 0x081F6000
            end_address: 0x08200000
