# Copyright Statement:
#
# (C) 2024  Airoha Technology Corp. All rights reserved.
#
# This software/firmware and related documentation ("Airoha Software") are
# protected under relevant copyright laws. The information contained herein
# is confidential and proprietary to Airoha Technology Corp. ("Airoha") and/or its licensors.
# Without the prior written permission of Airoha and/or its licensors,
# any reproduction, modification, use or disclosure of Airoha Software,
# and information contained herein, in whole or in part, shall be strictly prohibited.
# You may only use, reproduce, modify, or distribute (as applicable) Airoha Software
# if you have agreed to and been bound by the applicable license agreement with
# Airoha ("License Agreement") and been granted explicit permission to do so within
# the License Agreement ("Permitted User").  If you are not a Permitted User,
# please cease any access or use of Airoha Software immediately.
# BY OPENING THIS FILE, RECEIVER HEREBY UNEQUIVOCALLY ACKNOWLEDGES AND AGREES
# THAT THE SOFTWARE/FIRMWARE AND ITS DOCUMENTATIONS ("AIROHA SOFTWARE")
# RECEIVED FROM AIROHA AND/OR ITS REPRESENTATIVES ARE PROVIDED
# TO RECEIVER ON AN "AS-IS" BASIS ONLY. AIROHA EXPRESSLY DISCLAIMS ANY AND ALL
# WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT.
# NEITHER DOES AIROHA PROVIDE ANY WARRANTY WHATSOEVER WITH RESPECT TO THE
# SOFTWARE OF ANY THIRD PARTY WHICH MAY BE USED BY, INCORPORATED IN, OR
# SUPPLIED WITH AIROHA SOFTWARE, AND RECEIVER AGREES TO LOOK ONLY TO SUCH
# THIRD PARTY FOR ANY WARRANTY CLAIM RELATING THERETO. RECEIVER EXPRESSLY ACKNOWLEDGES
# THAT IT IS RECEIVER'S SOLE RESPONSIBILITY TO OBTAIN FROM ANY THIRD PARTY ALL PROPER LICENSES
# CONTAINED IN AIROHA SOFTWARE. AIROHA SHALL ALSO NOT BE RESPONSIBLE FOR ANY AIROHA
# SOFTWARE RELEASES MADE TO RECEIVER'S SPECIFICATION OR TO CONFORM TO A PARTICULAR
# STANDARD OR OPEN FORUM. RECEIVER'S SOLE AND EXCLUSIVE REMEDY AND AIROHA'S ENTIRE AND
# CUMULATIVE LIABILITY WITH RESPECT TO AIROHA SOFTWARE RELEASED HEREUNDER WILL BE,
# AT AIROHA'S OPTION, TO REVISE OR REPLACE AIROHA SOFTWARE AT ISSUE,
# OR REFUND ANY SOFTWARE LICENSE FEES OR SERVICE CHARGE PAID BY RECEIVER TO
# AIROHA FOR SUCH AIROHA SOFTWARE AT ISSUE.
#

menuconfig CLOCK_CONTROL
    bool "Clock Control Driver"
    help
      Include clock control drivers in system config

config AIR_CLOCK_CONTROL
    bool "Airoha Clock Control"
    depends on SOC_FAMILY_AIROHA

config AIR_DCXO
    bool "Airoha DCXO"
    depends on SOC_FAMILY_AIROHA

config AIR_DVFS
    bool "Airoha DVFS"
    depends on SOC_FAMILY_AIROHA


# ---------------------------------------------------------
if AIR_CLOCK_CONTROL

config AIR_CLK_CTRL_LPOSC_KHZ
	int "LPOSC Frequency KHz"
	default 312000
    help
      suggestion to suppress desense: 299250

#config AIR_CLK_CTRL_LPOSC_HS_DIV
#	int
#	default 2
#    help
#      valid values: 2, 3, 4

#config AIR_CLK_CTRL_LPOSC_LS_DIV
#	int
#	default 6
#    help
#      valid values: 6, 12

config AIR_CLK_CTRL_LPOSC_HOPPING_ENABLE
	bool
	default n

config AIR_CLK_CTRL_LPOSC_HOPPING_RANGE_X10000
	int
	default 1050
    help
      example values: 800=8%, 1050=10.5%

config AIR_CLK_CTRL_LPOSC_HOPPING_TIMER_US_ONCE
	int
	default 3
    help
      valid values: 3, 4, 5, 6

config AIR_CLK_CTRL_LPOSC_HOPPING_JUMP_CODE_ONCE
	int
	default 4
    help
      valid values: 1, 2, 4, 8

config AIR_CLK_CTRL_LPOSC_RE_K_PERIODICALLY_ENABLE
	bool
	default y

config AIR_CLK_CTRL_LPOSC_RE_K_PERIOD_MS
	int
	default 60000

config AIR_CLK_CTRL_DCM_ENABLE
	bool
	default y

config AIR_DVFS_SYS_CFG
	string "Airoha DVFS System Config"
	default "NORMAL"
    help
      valid strings: "NORMAL", "BASE_MID", "FIX_HIGH"

endif # AIR_CLOCK_CONTROL
