# Copyright Statement:
#
# (C) 2025  Airoha Technology Corp. All rights reserved.
#
# This software/firmware and related documentation ("Airoha Software") are
# protected under relevant copyright laws. The information contained herein
# is confidential and proprietary to Airoha Technology Corp. ("Airoha") and/or its licensors.
# Without the prior written permission of Airoha and/or its licensors,
# any reproduction, modification, use or disclosure of Airoha Software,
# and information contained herein, in whole or in part, shall be strictly prohibited.
# You may only use, reproduce, modify, or distribute (as applicable) Airoha Software
# if you have agreed to and been bound by the applicable license agreement with
# Airoha ("License Agreement") and been granted explicit permission to do so within
# the License Agreement ("Permitted User").  If you are not a Permitted User,
# please cease any access or use of Airoha Software immediately.
# BY OPENING THIS FILE, RECEIVER HEREBY UNEQUIVOCALLY ACKNOWLEDGES AND AGREES
# THAT AIROHA SOFTWARE RECEIVED FROM AIROHA AND/OR ITS REPRESENTATIVES
# ARE PROVIDED TO RECEIVER ON AN "AS-IS" BASIS ONLY. AIROHA EXPRESSLY DISCLAIMS ANY AND ALL
# WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT.
# NEITHER DOES AIROHA PROVIDE ANY WARRANTY WHATSOEVER WITH RESPECT TO THE
# SOFTWARE OF ANY THIRD PARTY WHICH MAY BE USED BY, INCORPORATED IN, OR
# SUPPLIED WITH AIROHA SOFTWARE, AND RECEIVER AGREES TO LOOK ONLY TO SUCH
# THIRD PARTY FOR ANY WARRANTY CLAIM RELATING THERETO. RECEIVER EXPRESSLY ACKNOWLEDGES
# THAT IT IS RECEIVER'S SOLE RESPONSIBILITY TO OBTAIN FROM ANY THIRD PARTY ALL PROPER LICENSES
# CONTAINED IN AIROHA SOFTWARE. AIROHA SHALL ALSO NOT BE RESPONSIBLE FOR ANY AIROHA
# SOFTWARE RELEASES MADE TO RECEIVER'S SPECIFICATION OR TO CONFORM TO A PARTICULAR
# STANDARD OR OPEN FORUM. RECEIVER'S SOLE AND EXCLUSIVE REMEDY AND AIROHA'S ENTIRE AND
# CUMULATIVE LIABILITY WITH RESPECT TO AIROHA SOFTWARE RELEASED HEREUNDER WILL BE,
# AT AIROHA'S OPTION, TO REVISE OR REPLACE AIROHA SOFTWARE AT ISSUE,
# OR REFUND ANY SOFTWARE LICENSE FEES OR SERVICE CHARGE PAID BY RECEIVER TO
# AIROHA FOR SUCH AIROHA SOFTWARE AT ISSUE.

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu


config AIR_HID_DEBUG_PIN
    bool "Airoha HID debug"
    default n
    help
      Enable airoha HID debug pin

config AIR_USB_PLUG_AND_PLAY
    bool "Airoha USB plug and play"
    default n
    help
      Enable USB plug and play feature

config AIR_HID_QDEC_DIR_REVERSE
    bool "Airoha HID mouse qdec direction reverse"
    default n
    help
      Enable airoha HID mouse qdec direction reverse

config AIR_M21_SAMPLE
    bool "Airoha m21 Sample"
    default n
    help
      Enable m21 sample pin definition

config AIR_M20_SAMPLE
    bool "Airoha m20 Sample"
    default n
    help
      Enable m20 sample pin definition

config AIR_KB_SAMPLE
    bool "Airoha keyboard Sample"
    default n
    help
      Enable kb sample pin definition

config AIR_KEYBOARD_M607
    bool "Airoha Keyboard M607"
    default n
    help
      Airoha keyboard m607 project

config AIR_TRIPLE_MODE_SLIDE_SWITCH
    bool "Airoha triple mode slide switch"
    default n
    help
      Enable slide switch feature

config AIR_DISABLE_MOUSE_KEY
    bool "Disable Mouse key for LA debug signal"
    default n
    help
      Disable Mouse key for LA debug signal

config AIR_APP_PIN_USAGE_LIST
    bool "Pin configuration according to pin usage list on nvkey"
    default n
    help
      Pin configuration according to pin usage list on nvkey setting

config AIR_KEY_REMAP
    bool "Airoha key remap"
    default n
    help
      Enable key remap

config AIR_NVIDIA_REFLEX_ENABLE
    bool "Airoha NVIDIA reflex enable"
    default n
    help
      Enable to use NVIDIA reflex report

config AIR_KB_DEFAULT_MATRIX_ENABLE
    bool "demo matrix"
    default n
    help
      Enable demo matrix

config AIR_PRODUCT_TYPE_KEYBOARD
    bool "Product type is keyboard"
    default n
    help
      Product type is keyboard

config AIR_SLIDE_SWITCH_BT_MODE_PIN
    int "pin of slide switch bt mode"
    default 0
    help
      pin of slide switch bt mode

config AIR_SLIDE_SWITCH_GAMING_MODE_PIN
    int "pin of slide switch gaming mode"
    default 0
    help
      pin of slide switch gaming mode

config AIR_SLIDE_SWITCH_BT_MODE_PIN_HIGH_ACTIVE
    bool "high active trigger slide switch bt mode"
    default n
    help
      high active trigger slide switch bt mode

config AIR_SLIDE_SWITCH_GAMING_PIN_HIGH_ACTIVE
    bool "high active trigger slide switch gaming mode"
    default n
    help
      high active trigger slide switch gaming mode