# Copyright Statement:
#
# (C) 2025  Airoha Technology Corp. All rights reserved.
#
# This software/firmware and related documentation ("Airoha Software") are
# protected under relevant copyright laws. The information contained herein
# is confidential and proprietary to Airoha Technology Corp. ("Airoha") and/or its licensors.
# Without the prior written permission of Airoha and/or its licensors,
# any reproduction, modification, use or disclosure of Airoha Software,
# and information contained herein, in whole or in part, shall be strictly prohibited.
# You may only use, reproduce, modify, or distribute (as applicable) Airoha Software
# if you have agreed to and been bound by the applicable license agreement with
# Airoha ("License Agreement") and been granted explicit permission to do so within
# the License Agreement ("Permitted User").  If you are not a Permitted User,
# please cease any access or use of Airoha Software immediately.
# BY OPENING THIS FILE, RECEIVER HEREBY UNEQUIVOCALLY ACKNOWLEDGES AND AGREES
# THAT AIROHA SOFTWARE RECEIVED FROM AIROHA AND/OR ITS REPRESENTATIVES
# ARE PROVIDED TO RECEIVER ON AN "AS-IS" BASIS ONLY. AIROHA EXPRESSLY DISCLAIMS ANY AND ALL
# WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT.
# NEITHER DOES AIROHA PROVIDE ANY WARRANTY WHATSOEVER WITH RESPECT TO THE
# SOFTWARE OF ANY THIRD PARTY WHICH MAY BE USED BY, INCORPORATED IN, OR
# SUPPLIED WITH AIROHA SOFTWARE, AND RECEIVER AGREES TO LOOK ONLY TO SUCH
# THIRD PARTY FOR ANY WARRANTY CLAIM RELATING THERETO. RECEIVER EXPRESSLY ACKNOWLEDGES
# THAT IT IS RECEIVER'S SOLE RESPONSIBILITY TO OBTAIN FROM ANY THIRD PARTY ALL PROPER LICENSES
# CONTAINED IN AIROHA SOFTWARE. AIROHA SHALL ALSO NOT BE RESPONSIBLE FOR ANY AIROHA
# SOFTWARE RELEASES MADE TO RECEIVER'S SPECIFICATION OR TO CONFORM TO A PARTICULAR
# STANDARD OR OPEN FORUM. RECEIVER'S SOLE AND EXCLUSIVE REMEDY AND AIROHA'S ENTIRE AND
# CUMULATIVE LIABILITY WITH RESPECT TO AIROHA SOFTWARE RELEASED HEREUNDER WILL BE,
# AT AIROHA'S OPTION, TO REVISE OR REPLACE AIROHA SOFTWARE AT ISSUE,
# OR REFUND ANY SOFTWARE LICENSE FEES OR SERVICE CHARGE PAID BY RECEIVER TO
# AIROHA FOR SUCH AIROHA SOFTWARE AT ISSUE.

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

config AIR_HID_DEBUG_PIN
    bool "Airoha HID debug"
    default n
    help
      Enable airoha HID debug pin

config AIR_USB_PLUG_AND_PLAY
    bool "Airoha USB plug and play"
    default n
    help
      Enable USB plug and play feature

config AIR_GAME_CONTROLLER_SAMPLE
    bool "Airoha Game Controller Sample"
    default n
    help
      Enable Game Controller sample pin definition

config MCUBOOT_GENERATE_CONFIRMED_IMAGE
    bool
    default y

config AIR_SW_KEY_DEBOUNCE
    bool "sw key debounce"
    default n
    help
    sw key debounce

config AIR_PRINT_HID_REPORT_LOG
    bool "print RISCV reort log"
    default n
    help
    print hid report log generated by risc-v

config AIR_USB_EARLY_WAKEUP_CM33
    bool "RISCV via ccni wakeup CM33"
    default n
    help
    print Waked up CM33 by risc-v

config AIR_PRODUCT_TYPE_GAME_CONTROLLER
    bool "Product type is game_controller"
    default n
    help
    Product type is game_controller

config AIR_CHARGE_DONT_ENTER_SLEEP
    bool "If charge, dont enter sleep"
    default y
    help
    If charge, dont enter sleep

config AIR_TRIPLE_MODE_SLIDE_SWITCH
    bool "Airoha triple mode slide switch"
    default n
    help
    Enable slide switch feature

config AIR_TEST_GESTURE
    bool "Test gesture"
    default y
    help
    Test gesture

config AIR_BOOT_SERVICE
    bool "Boot service"
    default n
    help
    Boot service feature

config AIR_KEY_REMAP_BACKEND_CM33
    bool "Key remap backend CPU select"
    default n
    help
    Key remap backend CPU select

config AIR_KEY_REMAP_FRONTEND_CM33
    bool "Key remap frontend CPU select"
    default n
    help
    Key remap frontend CPU select

config AIR_SLIDE_SWITCH_BT_MODE_PIN
    int "pin of slide switch bt mode"
    default 0
    help
      pin of slide switch bt mode

config AIR_SLIDE_SWITCH_GAMING_MODE_PIN
    int "pin of slide switch gaming mode"
    default 0
    help
      pin of slide switch gaming mode

config AIR_SLIDE_SWITCH_BT_MODE_PIN_HIGH_ACTIVE
    bool "high active trigger slide switch bt mode"
    default n
    help
      high active trigger slide switch bt mode

config AIR_SLIDE_SWITCH_GAMING_PIN_HIGH_ACTIVE
    bool "high active trigger slide switch gaming mode"
    default n
    help
      high active trigger slide switch gaming mode

config AIR_JOYSTICK_AND_TRIGGER_WAKEUP_ENABLE
    bool "enable joystick and trigger wakeup system in standby mode"
    default n
    help
      enable joystick trigger wakeup system from standby mode

config AIR_APP_STANDBY_WITH_ADAPTOR_RGB
    bool "Support standby state with RGB function"
    default n
    help
      Play RGB in standby state if adaptor cable is connected

config AIR_SUPPORT_BTN_POWER_ON_OFF
    bool "Support button power on off"
    default n
    help
      support button power on off

config AIR_APP_USB_DISABLE_IN_WIRELESS
    bool "Support usb device disable when in wireless"
    default n
    help
      Support usb device disable when in wireless

